._alert-text{
    margin-bottom: 10px;
    color: #9C9C9C;
}


._sale-booster-countdown-top{
    display: block;
    padding: 10px;
    background: #B751CC;
    color: #fff;
    font-weight: normal;
}

._sale-booster-countdown-row{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

._sale-booster-countdown-row > .countdown-top-title {
    font-size: 20px;
    margin: 0;
}

._sale-booster-hits {
    color: #9C9C99;
    font-weight: 300;
    margin-top: 4px;
    font-size: 16px;
    margin-bottom: 0; 
}

._sale-discount-time{
    font-size: 25px;
}

._sale-discount-units{
    font-size: 18px;
    text-transform: lowercase;
}


.fixed {
	position: fixed;
	top: 0;
    width: 100%;
    z-index: 999999999;
}




