/* countdown top */
._sale-booster-countdown-top{
    display: flex;
    width: 100%;
    background: linear-gradient(to right, #7901ff, #ff185f);
    color: #fff;
    font-weight: normal;
}
._sale-booster-countdown-top > ._sale-booster-countdown-row{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-flow: wrap;
}
._sale-booster-countdown-top ._sale-booster-countdown-row > .countdown-top-title {
    font-size: 18px;
    margin: 10px 0 10px 0;
    font-family: Open Sans;
}
._sale-booster-countdown-top ._sale-booster-countdown {
    display: flex;
}
._sale-booster-countdown-top ._sale-discount-countdown-timer {
    background: rgba(255, 255, 255, 0.2);
    padding: 12px;
    margin-right: 3px; 
}
._sale-booster-countdown-top ._sale-discount-time{
    font-size: 20px;
    font-family: Open Sans;
}
._sale-booster-countdown-top ._sale-discount-units{
    font-size: 18px;
    font-family: Open Sans;
    text-transform: lowercase;
} 
._sale-booster-countdown-top.fixed {
	position: fixed;
	top: 0;
    width: 100%;
    z-index: 999999999;
}

@media (max-width: 1024px){
    ._sale-booster-countdown-top > ._sale-booster-countdown-row{
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
    } 
}
@media (max-width: 767px) {
    ._sale-booster-countdown-top > ._sale-booster-countdown-row{
        justify-content: center;
        margin: 0;
        text-align: center;
    }
}

/* countdown bottom */
._sale-booster-countdown-bottom{
    display: flex;
    flex-direction: column;
}
._sale-booster-countdown-bottom ._sale-booster-countdown {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}
._sale-booster-countdown-bottom ._sale-booster-countdown ._sale-discount-countdown-timer {
    background: #9B4DCA;
    color: #ffff;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 15px 5px 15px;
    min-width: 61px;
    font-family: Open Sans;
}

._sale-booster-countdown-bottom ._sale-discount-time {
    font-size: 25px;
    font-family: Open Sans;
    display: block;
    line-height: 1;
    font-weight: 600;
}


._sale-booster-countdown-bottom ._sale-discount-units{
    margin-top: -4px;
    font-family: Open Sans;
}

._sale-booster-countdown-bottom ._sale-booster-hits {
    color: #9a07d7;
    font-weight: 600;
    margin-top: 4px;
    font-size: 16px;
    margin-bottom: 0; 
    font-family: Open Sans;
}



