._alert-text{
    margin-bottom: 10px;
    color: #9C9C9C;
}

/* #_sale-booster-countdown-bottom {
    font-size: 20px;
} */

._sale-booster-countdown-top{
    display: block;
    padding: 10px;
    background: #B751CC;
    color: #fff;
    font-weight: normal;
    top: 0;
    position: fixed;
    /* bottom: 0; */
    right: 0;
    left: 0;
    z-index: 99999999;
}

._sale-booster-countdown-row{
    width: 950px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

._sale-booster-countdown-row > .title {
    font-size: 20px;
}

._sale-booster-hits {
    color: #9C9C99;
    font-weight: 300;
    margin-top: 4px;
    font-size: 16px;
}

._sale-discount-time{
    font-size: 25px;
}

._sale-discount-units{
    font-size: 18px;
    text-transform: lowercase;
}


